* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #3a3a3a;
}

::selection {
    background-color: #3a3a3a;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 5px;
}

ul {
    overflow: hidden;
}

a,
a:hover {
    text-decoration: none;
}

.navbar-header .logo {
    line-height: 50px;
    background-size: contain;
}

#write {
    padding-top: 70px;
}

#write .container {
    border-radius: 6px;
    background: #fff;
}

.form-container {
    padding: 10px
}